@import "~bootstrap/scss/bootstrap";

$position-values: (
    0: 0,
    50: 50%,
    100: 100%
);

$utilities: (
    "viewport-height": (
        property: height,
        responsive: true,
        class: vh,
        values: (
            100: 99vh,
            50: 50vh,
        )
    ),
    "min-viewport-height": (
        property: min-height,
        responsive: true,
        class: min-vh,
        values: (
            30:30vh
        )
    ),
    "max-viewport-height": (
        property: max-height,
        responsive: true,
        class: max-vh,
        values: (
            25:25vh,
            24:24vh,
            40:40vh,
            39:39vh
        )
    ),
    "bottom": (
        property: bottom,
        responsive: true,
        values: $position-values
    )
);

.btn-txt{
    color:#d63384;
    margin: 0%;
    &:hover{
        color: #212529;
        cursor: pointer;
    }
}
.btn-txt-verificator{
    color:#0d6efd;
    margin: 0%;
    &:hover{
        color: #212529;
        cursor: pointer;
    }
}
.btn-txt-structure{
    color:#198754;
    margin: 0%;
    &:hover{
        color: #212529;
        cursor: pointer;
    }
}

@import "~bootstrap/scss/bootstrap";